__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.env
uv.lock

.venv/
venv/
.env/
env/

.vscode/

.DS_Store

*cache*

*.zip
sandbox.*
sandbox/

*.html
!plotjs/static/template.html
!docs/**/*.html

*.svg
!coverage-badge.svg

scripts/release.sh

/.quarto/

node_modules
