site_name: plotjs
site_url: https://y-sunflower.github.io/plotjs/
repo_url: https://github.com/y-sunflower/plotjs

theme:
  name: material
  font:
    text: Inter
    code: Jetbrains Mono
  palette:
    primary: white
  logo: https://github.com/JosephBARBIERDARNAL/static/blob/main/python-libs/plotjs/image.png?raw=true
  custom_dir: overrides
  favicon: https://github.com/JosephBARBIERDARNAL/static/blob/main/python-libs/plotjs/favicon.ico?raw=true
  features:
    - content.code.copy
    - navigation.path
    - content.footnote.tooltips
    - navigation.expand
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            heading_level: 3

nav:
  - Home: index.md
  - Gallery: gallery/index.md
  - Guides:
      - Add your own CSS: guides/css/index.md
      - Add your own JavaScript: guides/javascript/index.md
      - Embed graphs in different environments: guides/embed-graphs/index.md
      - Troubleshooting: guides/troubleshooting/index.md
      - Advanced: guides/advanced/index.md
  - API Reference:
      - PlotJS: reference/plotjs.md
      - CSS: reference/css.md
      - JavaScript: reference/javascript.md
      - Datasets: reference/datasets.md
  - For developers:
      - Overview: developers/overview.md
      - Parsing matplotlib's SVG: developers/parsing-matplotlib-svg.md
      - SVG parser reference: developers/svg-parser-reference.md
      - Contributing: developers/contributing.md

extra_css:
  - stylesheets/style.css

markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - footnotes
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
