:root {
  --default-opacity: 1;
  --default-not-hovered-opacity: 0.2;
  --default-transition: opacity 0.1s ease;
}

svg {
  width: 100%;
  height: auto;
}

.tooltip {
  position: absolute;
  background: #001d3d;
  padding: 8px 12px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: none;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.point {
  opacity: var(--default-opacity);
  transition: var(--default-transition);
}

.point:hover {
  opacity: var(--default-opacity);
}

.point.not-hovered {
  opacity: var(--default-not-hovered-opacity);
}

.point.hovered {
  opacity: var(--default-opacity);
}

.line {
  opacity: var(--default-opacity);
  transition: var(--default-transition);
}

.line:hover {
  opacity: var(--default-opacity);
}

.line.not-hovered {
  opacity: var(--default-not-hovered-opacity);
}

.line.hovered {
  opacity: var(--default-opacity);
}

.bar {
  opacity: var(--default-opacity);
  transition: var(--default-transition);
}

.bar:hover {
  opacity: var(--default-opacity);
}

.bar.not-hovered {
  opacity: var(--default-not-hovered-opacity);
}

.bar.hovered {
  opacity: var(--default-opacity);
}

.area {
  opacity: var(--default-opacity);
  transition: var(--default-transition);
}

.area:hover {
  opacity: var(--default-opacity);
}

.area.not-hovered {
  opacity: var(--default-not-hovered-opacity);
}

.area.hovered {
  opacity: var(--default-opacity);
}
