svg {
  width: 100%;
  height: auto;
}

.tooltip {
  position: absolute;
  background: #001d3d;
  padding: 8px 12px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: none;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.point {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.point:hover {
  opacity: 1;
}

.point.not-hovered {
  opacity: 0.2;
}

.point.hovered {
  opacity: 1;
}

.line {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.line:hover {
  opacity: 1;
}

.line.not-hovered {
  opacity: 0.2;
}

.line.hovered {
  opacity: 1;
}

.bar {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.bar:hover {
  opacity: 1;
}

.bar.not-hovered {
  opacity: 0.2;
}

.bar.hovered {
  opacity: 1;
}
