h2,
h3,
h4 {
  margin-top: 3em !important;
}

footer.custom-footer {
  box-shadow: 0 0 1rem #0000003e, 0 0.2rem 0.4rem #0003;
  transition: transform 0.25s cubic-bezier(0.1, 0.7, 0.1, 1), box-shadow 0.25s;
  color: #000000ff;
  padding: 20px 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.footer-container p {
  font-size: 0.7rem;
}
